h1{
  text-align: center;
  font-weight: 400;
}

.center{
  display: flex;
  justify-content: flex-end;
}

button {
  font-size: 1.5rem;
  margin: 1rem 5rem;
  padding: 5px 15px;
  width: 10rem;
  background: #00A5EC;
  border: 1px solid #00A5EC;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}
button:hover{
  background:   rgb(7, 137, 192);
}

.info {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  overflow: auto;
  margin: 0.5rem;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #1b1b1b;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  height: 3.5rem;
}

table th,
table td {
  padding: 12px 15px;
  cursor: pointer;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
table tbody tr:last-of-type {
  border-bottom: 2.5px solid #1b1b1b;
}